# Node
node_modules
*/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist
build
.next

# System files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# 🎛️ Environment files
*.env*

# 🧑‍💻 IDEs
.idea
.vscode
*.swp

# Temporary files
tmp

# Python virtual environments (prevents .venv packages from being scanned in Docker)
**/.venv
