{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "kubernetes-job.fullname" . }}
  labels:
    {{- include "kubernetes-job.labels" . | nindent 4 }}
    application: caelundas
    {{- if .Values.metadata.gitCommit }}
    caelundas.job/git-commit: {{ .Values.metadata.gitCommit | quote }}
    {{- end }}
    {{- if .Values.metadata.timestamp }}
    caelundas.job/timestamp: {{ .Values.metadata.timestamp | quote }}
    {{- end }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.storageClassName }}
  storageClassName: {{ .Values.persistence.storageClassName }}
  {{- end }}
{{- end }}
