name: Spell Check

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  spell-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Set SHAs for Nx
        uses: nrwl/nx-set-shas@v4

      - name: Run spell check
        run: pnpm exec nx run monorepo:spell-check
